*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    background-color: #9b59b6;
    color: white;
    width:16%;
    height:90px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;  
}
.row1{
    display: flex;
    gap:10px;
    margin: 15px; 
}
.row2{
    display: flex;
    gap:10px;
    justify-content:space-between;
    margin: 15px;
}