*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    color:#f9f4ee; 
    width:100%;
    background-color: hsl(0deg 0% 20%);
    justify-content: space-evenly;
    line-height: 50px;
}
h2{
    margin: 10px;
}
ul{
    display: flex;
    list-style: none;
}
li{
    margin: 10px;
}

.banner{
    display: flex;
    background-color: white;
    width:60%;
    padding-top: 15px;
    flex-wrap:wrap;
    padding-left: 200px;
    line-height: 30px;
}
.main1{
    border-radius: 5px;
    background-color: #f4f4f4;
    padding: 30px 30px 40px 40px;
    width: 100%;
    
}
.main2{
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 30px 30px 40px 40px;
    width: 100%;
}
h3{
    padding-bottom: 10px;
}
h4{
    padding-bottom: 10px;
}
p{
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}

.footer{
    margin-top: 15px;
    display: flex;
    color:#f9f4ee; 
    background-color: hsl(0deg 0% 20%);
    justify-content: space-evenly;
    line-height: 50px;
}